<app-header></app-header>
<script src="../../models/project.ts"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<div class="container p-0" id="main-dashboard-container">

  <form class="form-inline mt-2 mt-md-0">
    <input class="form-control mr-sm-2" (ngModelChange)="searchProjects(key.value)" #key="ngModel" ngModel name="key"
           type="text" placeholder="Search" aria-label="Search" required>
    <!--      <button (click)="searchProjects(key.value)"  ngModel class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
  </form>
  <br>
  <a (click)="onOpenModal(null, 'add')"
     class="btn btn-secondary float-right mt-n1">New project</a>
  <h1 class="h3 mb-3">Projects</h1>

  <br>



  <div class="row">
    <div *ngFor="let project of projects" class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <div class="card-header px-4 pt-4">
          <h4>{{project.name}}</h4>
          <div *ngIf="project.status === 'PROGRESS'" class="badge bg-warning my-2">In progress</div>
          <div *ngIf="project.status === 'DONE'" class="badge bg-success my-2">DONE</div>
        </div>
        <div class="card-body px-4 pt-2">
          <p>{{project.description}}</p>
          <!--          <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Avatar" width="28" height="28">-->
        </div>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a *ngIf="project.status === 'PROGRESS'" (click)="onOpenModal(project, 'edit')"
               class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click)="onOpenModal(project, 'delete')"
               class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
            <a *ngIf="project.status === 'PROGRESS'" (click)="closeProject(project.projectId)"
               class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Lock"><i class="fa fa-lock"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
  </div>
</div>

<!-- Modal Add -->
<div class="modal fade" id="addProjectModal" tabindex="-1" aria-labelledby="addProjectModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add project...</h5>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="addProject()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" [(ngModel)]="project.name" name="name" class="form-control" id="name" placeholder="Name" required>
          </div>
          <div class="form-group">
            <label for="desc">Description</label>
            <textarea rows="7" [(ngModel)]="project.description" name="desc" class="form-control" id="desc" placeholder="Description" required></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-project-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal edit -->
<div class="modal fade" id="editProjectModal" tabindex="-1" aria-labelledby="editProjectModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit projects</h5>
      </div>
      <div class="modal-body">
        <form #editProjectForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel="{{editProject?.name}}" name="name" class="form-control" id="edit-project-name" placeholder="Name" required>
          </div>
          <div class="form-group">
            <label for="edit-project-desc">Description</label>
            <textarea rows="7" ngModel="{{editProject?.description}}" name="description" class="form-control" id="edit-project-desc" placeholder="Description" required>
            </textarea>
          </div>
          <div class="form-group">
            <input type="hidden" ngModel="{{editProject?.projectId}}" name="projectId" class="form-control" id="edit-project-id" placeholder="Description" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="edit-project-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button (click)="updateProject(editProjectForm.value)" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal delete-->
<div class="modal fade" id="deleteProjectModal" tabindex="-1" aria-labelledby="deleteProjectModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete item?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" id="del-project-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="deleteProject(delProject.projectId)" type="submit" class="btn btn-danger" >Delete</button>
      </div>
    </div>
  </div>
</div>
